
<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 全局 setting 配置 -->
<settings>
    <!-- 开启二级缓存 -->
    <setting name="cacheEnabled" value="true" />

    <!-- 打开延迟加载的开关、不开也能用 -->
    <setting name="lazyLoadingEnabled" value="true"/>
    <!-- 将积极加载改为消极加载、即按需要加载 -->
    <!-- 作用：在延迟加载中 不是一次查询全部、而是需要时 、在去查 -->
    <setting name="aggressiveLazyLoading" value="false"/>
    <setting name="logImpl" value="LOG4J"/>
    <!-- 打印查询语句 -->
    <!-- <setting name="logImpl" value="STDOUT_LOGGING" /> -->
</settings>
<!-- 配置别名 -->
<typeAliases>
    <!-- 批量扫描别名 -->
    <package name="com.m2micro.smartFactory.businessLayer.systemManager.optionManager.model"/>
</typeAliases>

</configuration>
