<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商户管理</title>
</head>
<<link href="css/base.css" th:href="@{css/base.css}" rel="stylesheet" type="text/css">
<link href="css/index.css"  th:href="@{css/index.css}" rel="stylesheet" type="text/css">
<body>

<div class="index_top">
    <div class="userinfo" th:text="#{merchant.loginName} + 'zhangsan'">
        姓名:zhangsan
    </div>
    <ul class="banner">
        <li th:text="#{merchant.banner.merchant}">商户</li>
        <li th:text="#{merchant.banner.adminUser}">管理员</li>
        <li th:text="#{merchant.banner.integral}">积分</li>
        <li th:text="#{merchant.banner.adminUser}">会员</li>
        <li th:text="#{merchant.banner.carouselImage}">轮播图</li>
        <li th:text="#{merchant.banner.template}">预定模板</li>
    </ul>
    <div class="local">
         <a class="localLink setCookieBtn">中文/English</a>
    </div>
</div>
<div class="index_bottom" id="content_list">
    <div class="index_content">
        <div class="content_search">
            <input type="text" value="" class="content_searchinp"  th:placeholder="#{merchant.search.inputTitle}" placeholder="请输入商户名称进行搜索" id="searchContent"/>
            <input type="button" class="content_searchbtn" th:value="#{merchant.search.searchBtn}"  value="搜索
" v-on:click="search" />
            <input type="button" id="createDataBox" th:value="#{merchant.search.createMarchant}" value="创建商户>">
        </div>
        <div class="content_list" >
            <table class="listTable">
                <thead>
                <th th:text="#{merchant.merchantTable.merchantName}" >商户名称</th>
                <th th:text="#{merchant.merchantTable.merchantPhone}">商户电话</th>
                <th th:text="#{merchant.merchantTable.merchantEmail}">商户邮箱</th>
                <th th:text="#{merchant.merchantTable.merchantDetails}">商户详情</th>
                <th th:text="#{merchant.merchantTable.businessLicense}">营业执照</th>
                <th th:text="#{merchant.merchantTable.merchanStatus}">商户状态</th>
                <th th:text="#{merchant.merchantTable.merchanDStatus}">冻结/激活</th>
                <th th:text="#{merchant.merchantTable.editMerchan}">编辑商户</th>
                <th th:text="#{merchant.merchantTable.createPersonnel}">创建人</th>
                <th th:text="#{merchant.merchantTable.resetPassword}">重置密码</th>
                </thead>
                <tbody>
                <tr  v-for="merchan in pageModel.data">
                    <td>{{ merchan.name }}</td>
                    <td>{{ merchan.linkPhone }}</td>
                    <td>{{ merchan.linkEmali }}</td>
                    <td><a class="showdetails" v-on:click="addMerchant(merchan)">查看</a></td>
                    <td><a class="showBindMerchantFileBox"   v-on:click="showBindMerchantFileBox(merchan)">查看</a></td>
                    <td>
                        <span v-if="merchan.disableStatus === 'A'">启用</span>
                        <span v-else>冻结</span>
                    </td>
                    <td>
                        <span v-if="merchan.disableStatus === 'A'"><a href="javascript:void(0)" v-on:click="updateDisableStatus('B',merchan.id)">冻结</a></span>
                        <span v-else><a href="javascript:void(0)" v-on:click="updateDisableStatus('A',merchan.id)">激活</a></span>
                    </td>
                    <td><a class="showUpdateMerchantModel"  v-on:click="showUpdateMerchantModel(merchan)" >编辑</a></td>
                    <td>{{merchan.adminName}}</td>
                    <td></td>
                </tr>
                <tr  v-if="pageModel.dataLen">
                    <td colspan="10" >
                        暂无数据
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="tablePage">
                <li v-show="pageModel.isShowPrevious" v-on:click="previous" th:text="#{merchant.page.prev}">上一页</li>
                <li v-for="item in pageModel.pageCounts" v-on:click="pageClick"  v-bind:class="{active : item.isActive}" >
                    {{item.pages}}
                </li>

               <!-- <li>2</li>
                <li>3</li>
                <li style="border: none;">...</li>
                <li>7</li>
                <li>8</li>-->
                <li v-show="pageModel.isShowNext" v-on:click="next" th:text="#{merchant.page.next}">下一页</li>
            </ul>
            <div id="infoDetils" style="display: none">
                <div class="infoDetilsDiv">
                    <h2 class="infoName" th:text="#{merchant.details.merchantName} + '{{cuuerMerchant.name}}'" >商户名称:</h2>
                    <div class="doubleInfo">
                        <div><label th:text="#{merchant.details.registeredPersonnel}">注册法人:</label><span >{{cuuerMerchant.legalPerson}}</span></div>
                        <div><label th:text="#{merchant.details.idLastNumer}">身份证后四位:</label><span>{{cuuerMerchant.idLastNumber}}</span></div>
                    </div>
                    <div class="oneInfo">
                        <label th:text="#{merchant.details.linkPhone}">联系电话:</label>
                        <span>{{cuuerMerchant.linkPhone}}</span>
                    </div>
                    <div class="oneInfo">
                        <label th:text="#{merchant.details.linkPhone}">联系邮箱:</label>
                        <span>{{cuuerMerchant.linkEmali}}</span>
                    </div>
                    <div class="oneInfo">
                        <label  th:text="#{merchant.details.linkAddress}">联系地址:</label>
                        <span>{{cuuerMerchant.registeredAddress}}</span>
                    </div>
                    <div class="oneInfo">
                        <label  th:text="#{merchant.details.opedAddress}">营业地址:</label>
                        <span> {{cuuerMerchant.openAddress}}</span>
                    </div>
                    <div class="oneInfo">
                        <label th:text="#{merchant.details.postcode}">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编:</label>
                        <span>{{cuuerMerchant.mailbox}}</span>
                    </div>
                    <div class="oneInfo">
                        <label th:text="#{merchant.details.openDate}">营业时间:</label>
                        <span>{{cuuerMerchant.registeredDate}}</span>
                    </div>
                    <div class="oneInfo">
                        <label th:text="#{merchant.details.range}">经营范围:</label>
                        <span>{{cuuerMerchant.doBusiness}}</span>
                    </div>
                    <div class="filesTitle">
                        <h2 th:text="#{merchant.details.doorShot}">门头照</h2>
                        <div class="filesContent">
                            <div class="fileContent"  v-for="file in cuuerMerchant.fileVos">
                                <img  v-bind:src="file.filePath" style="width:100%; height: 100%">
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="editBoxContent">
    <div class="addBoxContent" >
        <div  class="infoinputDiv">
            <input type="text" th:placeholder="#{merchant.create.merchanName}" placeholder="商户名称" v-model="updateMerchant.name" />
            <input type="text" value="" th:placeholder="#{merchant.create.linkPhone}"  placeholder="联系电话"  v-model="updateMerchant.linkPhone"/>
            <input type="text" value="" th:placeholder="#{merchant.create.postcode}" placeholder = "邮编" v-model="updateMerchant.mailbox"/>

        </div>
        <div  class="infoinputDiv">
            <input type="text" value="" th:placeholder="#{merchant.create.legalPersonnel}" placeholder = "法定代表人" v-model="updateMerchant.legalPerson"/>
            <input type="text" value="" th:placeholder="#{merchant.create.merchanEmail}" placeholder = "联系邮箱" v-model="updateMerchant.linkEmali"/>
            <input type="text" value="" th:placeholder="#{merchant.create.registeredAddress}" placeholder = "注册地址" v-model="updateMerchant.registeredAddress"/>

        </div>
        <div  class="infoinputDiv">
            <input type="text" value="" th:placeholder="#{merchant.create.idLastNumer}" placeholder = "身份证后四位" v-model="updateMerchant.idLastNumber"/>
            <input type="text" value="" id="selectUpdateOpenDatedDate" readonly="readonly" th:placeholder="#{merchant.create.openDate}" placeholder = "注册时间" v-model="updateMerchant.registeredDate"/>
            <input type="text" value="" th:placeholder="#{merchant.create.openAddress}"  placeholder = "营业地址" v-model="updateMerchant.openAddress"/>

        </div>
        <div class="infoinputDiv">
            <input type="text" value="" th:placeholder="#{merchant.create.industry}" placeholder = "行业" v-model="updateMerchant.industry"/>
            <input type="text" value="" th:placeholder="#{merchant.create.dataDictionary}" placeholder = "数据字典" v-model="updateMerchant.dataDictionary"/>
            <input type="text" value="" th:placeholder="#{merchant.create.explainContent}" placeholder = "解释内容" v-model="updateMerchant.explainContent"/>

        </div>
        <div class="descriptiondiv">
            <textarea class="description" th:placeholder="#{merchant.create.doBusiness}" placeholder="经营业务" v-model="updateMerchant.doBusiness"></textarea>
        </div>
        <div class="fileDiv">
            <h2 th:text="#{merchant.create.doorShot}">门头照</h2>
            <div class="filesContent">
                <div class="fileContent"  v-for="file in updateMerchant.fileVos">
                    <img  v-bind:src="file.filePath" style="width:100%; height: 100%">
                </div>
                <div  class="fileAddContent" v-on:click="showSaveSelectFile()" v-show="updateMerchant.fileVos.length < 3" >
                    [[#{merchant.create.addImage}]]!
                    <input type="file" accept="image/*" style="width: 100%;height: 100%;display: none" id="showSaveSelectFileInput" @change="tirggerFile($event)">
                </div>
                <input type="button" class="saveAllBtn" th:value="#{merchant.create.edit}" v-on:click="editMerchant()"  value="编辑"/>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="addBoxContent">
    <div class="addBoxContent" >
        <div  class="infoinputDiv">
            <input type="text" th:placeholder="#{merchant.create.merchanName}" placeholder="商户名称" v-model="updateMerchant.name" />
            <input type="text" value="" th:placeholder="#{merchant.create.linkPhone}"  placeholder="联系电话"  v-model="updateMerchant.linkPhone"/>
            <input type="text" value="" th:placeholder="#{merchant.create.postcode}" placeholder = "邮编" v-model="updateMerchant.mailbox"/>

        </div>
        <div  class="infoinputDiv">
            <input type="text" value="" th:placeholder="#{merchant.create.legalPersonnel}" placeholder = "法定代表人" v-model="updateMerchant.legalPerson"/>
            <input type="text" value="" th:placeholder="#{merchant.create.merchanEmail}" placeholder = "联系邮箱" v-model="updateMerchant.linkEmali"/>
            <input type="text" value="" th:placeholder="#{merchant.create.registeredAddress}" placeholder = "注册地址" v-model="updateMerchant.registeredAddress"/>

        </div>
        <div  class="infoinputDiv">
            <input type="text" value="" th:placeholder="#{merchant.create.idLastNumer}" placeholder = "身份证后四位" v-model="updateMerchant.idLastNumber"/>
            <input type="text" id="selectAdddOpenDatedDate" readonly = "readonly" value="" th:placeholder="#{merchant.create.openDate}" placeholder = "营业时间" v-model="updateMerchant.registeredDate"/>
            <input type="text" value="" th:placeholder="#{merchant.create.openAddress}" placeholder = "营业地址" v-model="updateMerchant.openAddress"/>

        </div>
        <div class="infoinputDiv">
            <input type="text" value="" th:placeholder="#{merchant.create.industry}" placeholder = "行业" v-model="updateMerchant.industry"/>
            <input type="text" value="" th:placeholder="#{merchant.create.dataDictionary}" placeholder = "数据字典" v-model="updateMerchant.dataDictionary"/>
            <input type="text" value="" th:placeholder="#{merchant.create.explainContent}" placeholder = "解释内容" v-model="updateMerchant.explainContent"/>

        </div>
        <div class="descriptiondiv">
            <textarea class="description" th:placeholder="#{merchant.create.doBusiness}" placeholder="经营业务" v-model="updateMerchant.doBusiness"></textarea>
        </div>
        <div class="fileDiv">
            <h2 th:text="#{merchant.create.doorShot}">门头照</h2>
            <div class="filesContent">
                <div class="fileContent" v-for="file in updateMerchant.fileVos">
                    <img  v-bind:src="file.filePath" style="width:100%; height: 100%">
                </div>

                <div th:text="#{merchant.create.addImage}" class="fileAddContent" v-on:click="showaddSaveSelectFile()" v-show="updateMerchant.fileVos.length < 3" >
                    添加图片
                </div>
                <input type="file" accept="image/*" style="width: 100%;height: 100%;display: none" id="showAddSelectFileInput" @change="tirggerSaveFile($event)">
                <input type="button" class="saveAllBtn" th:value="#{merchant.create.create}" v-on:click="editMerchant()"  value="创建"/>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="bindMerchantFileBox">
    <div class="bindMerchantFileBox">
       <div class="bindMerchantFileDiv" v-if="uploadBusinessLicenseMerchant.businessLicenseFileVo != null && uploadBusinessLicenseMerchant.businessLicenseFileVo.filePath.indexOf('jpg') > 0 ">
            <img v-bind:src="uploadBusinessLicenseMerchant.businessLicenseFileVo.filePath" style="">
            <a  th:text="#{merchant.showBusinessLicense.download}" :href="uploadBusinessLicenseMerchant.businessLicenseFileVo.filePath"  download="file">下載</a>
        </div>
        <div class="bindMerchantFileDiv" v-else-if="uploadBusinessLicenseMerchant.businessLicenseFileVo != null && uploadBusinessLicenseMerchant.businessLicenseFileVo.filePath.indexOf('jpg') <=0">
            <img src="images/pdfIoc.jpg" style="">
            <a  th:text="#{merchant.showBusinessLicense.download}" :href="uploadBusinessLicenseMerchant.businessLicenseFileVo.filePath"  download="file">下載</a>
        </div>
        <div v-else class="bindMerchantFileDiv" th:text="#{merchant.showBusinessLicense.noFile}">
            暂无文件
        </div>
        <input type="file" style="display: none;" id="uploadBusinessLicenseFile" accept=".pdf,image/*"   @change="uploadBusinessLicense($event)"/>
        <div class="bindMerchantFileBtn">

            <input type="button" th:value="#{merchant.showBusinessLicense.reUpload}" v-on:click = "showUploadBusinessLicense()"  value="重新上传"/>
            <input type="button" th:value="#{merchant.showBusinessLicense.close}" v-on:click = "closeUploadBusinessLicense()" value="确定"/>


        </div>
    </div>

</script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js" th:src="@{js/jquery-3.4.1.js}"></script>
<script src="https://cdn.bootcss.com/layer/2.3/layer.js" th:src="@{js/layer-v3.1.1/layer/layer.js}"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js" th:src="@{js/jquery.cookie-1.4.1.js}"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="..js/base.js" th:src="@{js/base.js}"></script>
<script src="..js/index.js" th:src="@{js/index.js}"></script>
<script src="../js/layDate-v5.0.9/laydate/laydate.js" th:src="@{js/layDate-v5.0.9/laydate/laydate.js}"></script> <!-- 改成你的路径 -->


<script>
    $(function(){


        $("#createDataBox").click(function () {
            var index =    layer.open({
                type: 1,
                title:'[[#{merchant.create.createMarchant}]]',
                skin: 'layui-layer-rim', //加上边框
                area: ['40%'], //宽高
                content: $("#addBoxContent").html(),
                success:function (layero) {
                    var User_03 = Vue.extend({// 构造器
                        data: function(){
                            return {
                                updateMerchant:{
                                    name: "",
                                    legalPerson: "",
                                    idLastNumber: "",
                                    linkPhone: "",
                                    linkEmali: "",
                                    registeredAddress: "",
                                    openAddress: "",
                                    mailbox: "",
                                    registeredDate: "",
                                    industry: "",
                                    dataDictionary: "",
                                    explainContent: "",
                                    doBusiness: "",
                                    status: "",
                                    disableStatus: "",
                                    fileVos:[]
                                }
                            }
                        },
                        methods:{
                            //保存
                            editMerchant : function () {
                                var json=JSON.parse(JSON.stringify(this.updateMerchant));
                                payPlatform.api_request(REQUEST_URL + "/merchant/editMerchant",payPlatform.getFormStr(json),function (data) {
                                    if(data.code == 200){
                                        var eidt = payPlatform.alert(data.message,function () {
                                            payPlatform.closeLoad(index);
                                            payPlatform.closeLoad(eidt);
                                            vm.refresh();
                                        });
                                    }else{
                                        payPlatform.alert(data.message);
                                    }

                                })
                            },
                            showaddSaveSelectFile : function () {
                                $("#showAddSelectFileInput").click();
                            },
                            tirggerSaveFile :function () {

                                var _this = this;
                                payPlatform.uploadFile(REQUEST_URL + "/merchant/uploadFile",event.target.files[0],null,function (evt) {
                                    /* 服务器端返回响应时候触发event事件*/
                                    var restul =  JSON.parse(evt.target.responseText);
                                    _this.updateMerchant.fileVos.push(restul.data);

                                })

                            }
                        },
                        mounted : function () {

                        }
                    });
                    var user_03 = new User_03();// 实例化
                    user_03.$mount(layero.find(".layui-layer-content")[0]);  // 挂载到元素上
                    laydate.render({
                        elem: $("#selectAdddOpenDatedDate")[0],
                        done: function (value) { // value 是laydate选择的日期
                            user_03.updateMerchant.registeredDate = value; // vue对象的属性设置为当前的日期
                        },

                    });
                }


            });

        });

        $(".content_list").delegate(".showUpdateMerchantModel","click",function () {
            var index =    layer.open({
                            type: 1,
                            title:'[[#{merchant.create.createMarchant}]]',
                            skin: 'layui-layer-rim', //加上边框
                            area: ['40%'], //宽高
                            content: $("#editBoxContent").html(),
                            success:function (layero) {
                                var User_03 = Vue.extend({// 构造器
                                    data: function(){
                                        return {
                                            updateMerchant:vm.updateMerchant
                                        }
                                    },
                                    methods:{
                                        //保存
                                        editMerchant : function () {
                                            var json=JSON.parse(JSON.stringify(this.updateMerchant));
                                            payPlatform.api_request(REQUEST_URL + "/merchant/editMerchant",payPlatform.getFormStr(json),function (data) {
                                                if(data.code == 200){
                                                    var eidt = payPlatform.alert(data.message,function () {
                                                        payPlatform.closeLoad(index);
                                                        payPlatform.closeLoad(eidt);
                                                        vm.refresh();
                                                    });
                                                }else{
                                                    payPlatform.alert(data.message);
                                                }
                                                payPlatform.closeLoad(index);

                                            })
                                        },
                                        showSaveSelectFile : function () {
                                            $("#showSaveSelectFileInput").click()
                                        },
                                        tirggerFile : function (event) {

                                            var _this = this;
                                            payPlatform.uploadFile(REQUEST_URL + "/merchant/uploadFile",event.target.files[0],null,function (evt) {
                                                /* 服务器端返回响应时候触发event事件*/
                                               var restul =  JSON.parse(evt.target.responseText);
                                                _this.updateMerchant.fileVos.push(restul.data);

                                            })





                                        }
                                    }
                                });
                                var user_03 = new User_03();// 实例化
                                user_03.$mount(layero.find(".layui-layer-content")[0]);  // 挂载到元素上
                                laydate.render({
                                    elem: $("#selectUpdateOpenDatedDate")[0],
                                    done: function (value) { // value 是laydate选择的日期
                                        user_03.updateMerchant.registeredDate = value; // vue对象的属性设置为当前的日期
                                    },

                                });
                            }


                        });
        });

        $(".content_list").delegate(".showdetails","click",function () {
            layer.open({
                type: 1,
                title:'[[#{merchant.details.showMerchantDetails}]]',
                skin: 'layui-layer-rim', //加上边框
                area: ['40%'], //宽高
                content: $("#infoDetils").html()
            });
        });
        $(".content_list").delegate(".showBindMerchantFileBox","click",function () {
           var businessBox =  layer.open({
                        type: 1,
                        title:'[[#{merchant.showBusinessLicense.boxTitle}]]',
                        skin: 'layui-layer-rim', //加上边框
                        area: ['310px',"320px"], //宽高
                        content: $("#bindMerchantFileBox").html(),
                        success:function (layero) {
                            var User_03 = Vue.extend({// 构造器

                                data : function () {
                                    return {
                                        uploadBusinessLicenseMerchant : vm.uploadBusinessLicenseMerchant
                                    }
                                },
                                methods : {
                                    uploadBusinessLicense : function(){
                                        var _this = this;
                                        payPlatform.uploadFile(REQUEST_URL + "/merchant/uploadBusinessLicenseFile",event.target.files[0],{merchantId:_this.uploadBusinessLicenseMerchant.id},function (evt) {
                                            /* 服务器端返回响应时候触发event事件*/
                                            var restul =  JSON.parse(evt.target.responseText);
                                            _this.uploadBusinessLicenseMerchant.businessLicenseFileVo = restul.data;

                                        });
                                    },
                                    closeUploadBusinessLicense : function(){
                                        payPlatform.closeLoad(businessBox);
                                    },

                                    showUploadBusinessLicense : function(){
                                        $("#uploadBusinessLicenseFile").click();
                                    }
                                }
                            });

                            var user_03 = new User_03();// 实例化
                            user_03.$mount(layero.find(".layui-layer-content")[0]);  // 挂载到元素上
                        }
                    });
        });
    });

</script>
</body>
</html>
